.f-bd {

}
.f-bd span{
	padding:5px 10px;
	border:1px solid #42dfb7;
	margin:10px;
	display: inline-block;
	cursor: pointer;
}
.f-hd{
	margin-top:20px;
	text-align: center;
}
.f-hd input{
	width:35px;
	height:35px;
	padding:0px;
	margin:9px;
	text-align: center;
}
.f-tac{
	text-align: center;
}
.u-gd{
	width:100%;
	margin:0 auto;
	text-align: center;
}